@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
}
.dropdown:hover>.dropdown-menu {
    display: block;
   }
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
   }

@media(max-width:991px) {
    .dropdown-menu{
        display:none!important;
    }
    .show{
        display: block!important;
    }
    .topBar{
        display:none !important;
       }
    .dropdown-submenu .dropdown-menu{
        display: block!important;
    }
}
.dropdown-menu{
    border: none !important;

}
.pb-0{
    padding-bottom: 0px !important;
}
.list-group-flush .list-group-item {
    border: none !important;
}
.navbar-toggler{
    right:100% !important;
}
.navbar-brand{
    width:20%;

}
@media(max-width:767px){
.navbar-brand{
    width:60%;
   
}
footer .row{
    height:10%
}
footer image{
    float:right;
}
footer .ml-5{
    margin-left: 0 !important;
}
}

.btn-outline-success, .btn-outline-success:active, .btn-primary:visited {
    border-color: #649d14 !important;
}
.btn-outline-success:hover{
    background-color: #649d14 !important;
}

footer {
    font-size:14px
}
   .dropdown-submenu {
    position: relative;
  }

.ml-0{
    margin-left:0% !important;
}
.mr-0{
    margin-right:0% !important;
}
  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -10px !important
  }

  .dropdown-item:hover{
    background-color: #649d14  !important;
    color: white !important
    

}

.text-green{
    color:#649d14 !important    ;
}
.text-green:hover{
    color:#ffffff !important    ;
}
.nav-item{
    border-bottom: 4px solid #86c62600;
    transition: 0.2s;

}
.nav-item:hover{
    border-bottom: 4px solid #649d14 ;
    transition: 0.2s;
}